<h1>Editing Room</h1>

<%= render 'form', room: @room, url: accommodation_room_path(@accommodation, @room) %>

<%= link_to 'Show', accommodation_room_path(@accommodation, @room) %> |
<%= link_to 'Back', accommodation_rooms_path(@accommodation) %>
